{% extends 'base.html.twig' %}

{% block body %}
    <section class="navigation">
        <nav class="test">
            <ul>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <li><a href="{{ path('fos_user_profile_show') }}">My account</a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    <li class="active"><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}
            </ul>
        </nav>
    </section>
{% endblock %}
